@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --dark: hsla(0, 0%, 1.96%, 1);
  --dark-one: hsl(0, 0%, 12%);
  --dark-two: hsl(0, 0%, 18%);
  --dark-three: hsl(0, 0%, 23%);
  --gray: hsl(0, 0%, 46%);
  --gray-light: hsl(0, 0%, 91%);
  --white-dark: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --purple: hsl(274, 82%, 60%);
  --red: hsl(0, 100%, 66%);
}

body {
  font-family: "Inter", monospace;
}

body.font-inconsolata {
  font-family: "Inconsolata", sans-serif;
}

body.font-lora {
  font-family: "Lora", serif;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
